body { margin: 0; padding: 0; display: flex; font-family: 'Helvetica', sans-serif; }
#map { flex-grow: 1; height: 100vh; }
#sidebar {
    width: 350px;
    background: #fdfdfd;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding: 20px;
    z-index: 1;
    overflow-y: auto;
}
.header { border-bottom: 3px solid #fc0; padding-bottom: 10px; margin-bottom: 20px; }
.guide-box {
    background: #fff3f3;
    padding: 10px;
    border-left: 4px solid #d40511;
    margin-top: 15px;
    font-size: 0.9em;
}
h2 { color: #d40511; margin: 0 0 10px 0; }